<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>DEFITION OF RETURN</h1>
        
        <h2>1.return is a keyword that is used to return the values to functioncall<br>
            2.it takes control from functional space to main space<br>
            3.we can return multiple values to the functioncal that will be in form of tuple</h2>
            
        <a href="{% url 'app1:sample1' %}">DEFINITION OF RETURN </a>
    </center>
    
</body>
</html>