<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>DEFINITION OF FUNCTION</h1>
        <h2> 1.function is a block of organised and reused code that is executed when the function is calld<br>
            2.function call given after function declaration<br>
            3.function is declared by using DEF keyword</h2>
            
        <a href="{% url 'app2:sample2' %}">DEFINITION OF FUNCTION</a>
       
    </center>
    
</body>
</html>